<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法提供对应的sql语句 -->
<mapper namespace="ControllerMapper.dao.AdminMapper">
	
	<select id="Login" resultType="String">
		select sign from admin where adminName =#{name} and adminPassword = #{password}
	
	</select>
	
	
	<select id="AdminDomesticConsume" resultType="java.util.Map">
		select * from user
	</select>
	
	
	<select id="AdminCommodity" resultType="java.util.Map">
		select * from computer c,computermessage m where c.id = m.computerid
	</select>
	
	<select id="AdminOrderForm" resultType="java.util.Map">
		select * from createorder o,computermessage m,computer c
		where o.OMid = m.Mid and m.computerid = c.id
	</select>
	
	<select id="AdminSalesVolume" resultType="java.util.Map">
		select * from createorder o,computermessage m,computer c
		where o.OMid = m.Mid and m.computerid = c.id 
	</select>
	
	<update id="logistics">
		update createorder
		set logistics=#{logistics},logisticsID=#{loID} where Oid = #{Oid}
	</update>
	
	<!-- 插入一个商品 -->
<insert id = "Putaway">
		INSERT INTO computer
		(brand,
		Primarygroup,
		Secondarygroup,
		size,
		processor,
		graphicscard,
		imagesURL,
		title,
		label) 
		VALUES 
		(#{pp},
		#{lx},
		#{fl},
		#{pm},
		#{clq},
		#{xk},
		#{img},
		#{ms},
		#{bq})
</insert>
<select id="id" resultType="java.util.Map">
	select id from computer
</select>
<insert id = "incomputer">
		INSERT INTO computermessage
		(computerid,configuration,price,sales,tab) 
		VALUES 
		(#{computerid},
		#{pz},
		#{sj},
		0,0)
</insert>


<!-- 下架 -->
<update id="Del">
	update computermessage
	set tab=1 where Mid = #{Mid}

</update>
<!-- 获取用户详细详细 -->
<select id="detailedInformation" resultType="java.util.Map">
	select * from useraddress where username = #{name}
</select>


<!-- 删除用户 -->
<select id="removeUser" resultType="java.util.Map">
  select * from user where id = #{id}
</select>
<insert id="cin">
		INSERT INTO removeuser
		(name,password) 
		VALUES 
		(
		#{name},
		#{password})

</insert>
<delete id="remove">
	delete from user where id = #{id}
</delete>
</mapper>