<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法提供对应的sql语句 -->
<mapper namespace="ControllerMapper.dao.ComputerMapper">
	
	<select id="ComputerMeassage" resultType="java.util.Map">
		select * from computer,computermessage where
		computer.id = computermessage.computerid
		<if test="option == '平板电脑' or option == '一体机' or option == '笔记本' or option == '台式机'">and computer.Primarygroup = #{option}</if>

		<if test="option != '笔记本' and option != '台式机'">and computer.Secondarygroup = #{option}</if>
	
	</select>
	<!-- 商品配置的信息信息 -->
	<select id="buyShopping" resultType="java.util.Map">
		select * from computermessage where computerid = #{id}
		
	</select>
	<!-- 商品的的信息 -->
	<select id="Computer" resultType="java.util.Map">
		select * from computer where id = #{id}
	</select>
	
	<!-- 订单商品信息 -->
	<select id="buyOrder" resultType="java.util.Map">
		select * from computer c,computerMessage m where m.Mid=#{id} and m.computerid = c.id	
	</select>
	
	<!-- 创建订单 -->
	<insert id="createOrder">
		INSERT INTO createorder
		(username,name,phone,address,orderID,total,OMid,setUpTime,label,data) 
		VALUES
		(#{username},#{name},#{phone},#{address},#{orderID},#{total},#{OMid},#{setUpTime},'待支付',#{dt})

	</insert>
	<!-- 更新订单 -->
	<update id="UpOrder">
		update createorder
		set payID = #{payID},label='已支付',payTime=#{payTime} where orderID = #{orderID}
	</update>
	
	<!-- computerMessage 页面的组合筛选 -->
	<select id="MessageGroup" resultType="java.util.Map">
		select * from computer c, computermessage m where 1 = 1 and c.id = m.computerid
		<if test="one != 'no'">and c.brand =#{one}</if>

		<if test=" two == '0-3999'"> and m.price between  0 and 3999</if>
		<if test=" two == '4000-4999'"> and m.price  between 4000 and 4999</if>
		<if test=" two == '5000-5999'"> and m.price  between 5000 and 5999</if>
		<if test=" two == '6000-6999'"> and m.price  between 6000 and 6999</if>
		<if test=" two == '7000也上'"> and m.price  >=7000</if>
			
		<if test="three !='no' ">and c.Secondarygroup =#{three}</if>
		<if test="four !='no'">and c.size =#{four}</if>
		<if test="five !='no'">and c.processor =#{five}</if>
		<if test="six !='no'">and c.graphicscard =#{six}</if>
	</select>	
	
	<!-- 销量排序 -->
	<select id="SalesOrder" resultType="java.util.Map">
		select * from computer c,computermessage m where m.computerid = c.id and c.Primarygroup = #{primarygroup}order by m.sales desc
	
	</select>
	
	<!-- 价格升序排序 -->
	<select id="AscOrder" resultType="java.util.Map"> 
		select * from computer c,computermessage m where m.computerid = c.id and c.Primarygroup = #{primarygroup} order by m.price asc

	</select>
	
	
	<!-- 获取我的收藏数据 -->
	<select id="shopping" resultType="java.util.Map">
		select * from shoppingtrolley where SMid = #{Mid} and username = #{username}
	</select>
	
	<!--购物车 添加数据 -->
	<insert id="insertShopping">
		INSERT INTO shoppingtrolley
		(SMid,data,username)
		VALUES
		(#{Mid},#{data},#{username})
	
	</insert>
	<!-- 更新 购物车数量数据 -->
	<update id="upDataString">
		update shoppingtrolley
		set data= #{dt} where Sid =#{id}
	</update>
		
	<!-- 获取数据 -->
	<select id="retData" resultType="java.util.Map">
		select OMid,data from createorder where orderID = #{orderID}
	</select>
	<select id="sales" resultType="Integer">
		select sales from computermessage where Mid = #{Mid}
	</select>
	<update id="upData">
		update computermessage
		set sales = #{sum} where Mid = #{Mid}
	
	</update>
	
	<select id="MyRefund" resultType="java.util.Map">
		select * from createorder o,computermessage m,computer c 
		where o.Oid = #{Oid} and o.OMid = m.Mid and m.computerid = c.id
	</select>
	
	<update id="cancelOrder">
		update createorder
		set tab="100",label="已取消" where Oid =#{Oid}
	</update>
	<update id="RefundOrder">
		update createorder
		set tab="200",label="已退款" where payID =#{payID}
	</update>

</mapper>