<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法提供对应的sql语句 -->
<mapper namespace="ControllerMapper.dao.MyMapper">
	<!-- -我的购物车数据 -->
	<select id="ShoppingCart" resultType="java.util.Map">
		select * from shoppingtrolley s,computermessage m,computer c where s.username = #{username}
		and s.SMid = m.Mid and m.computerid = c.id
	</select>
	<!-- 购物车的数量数据修改  更新 -->
	<update id="UpDataShopping">
		update shoppingtrolley
		set data = #{data} where SMid =#{Sid}
	
	</update>
	<!-- 我的订单数据 -->
	<select id="MyOrder" resultType="java.util.Map">
		select * from createorder o,computermessage m,computer c
		where o.username = #{username} and o.OMid = m.Mid and m.computerid = c.id
	</select>
	
	<!-- 新增地址 -->
	<insert id="NewAddress">
		INSERT INTO useraddress
		(username,name,phone,address)
		VALUES
		(#{username},#{name},#{phone},#{address})
	
	</insert>
	<!-- -我的地址信息 -->
	<select id="addressMessage" resultType="java.util.Map">
		select * from useraddress where username =#{username}
	</select>
	
	<!-- 更新地址信息 -->
	<update id="MyupdataMessage">
		update useraddress
		set
		<if test="200 > label and label > 100"> name = #{data}</if>
		<if test="300 > label and label > 200"> phone = #{data}</if>
		<if test="400 > label and label > 300"> address = #{data}</if>
		where Aid = #{Aid}
	</update>
	
	<!-- 获取地址信息 -->
	<select id="MyAddressMessage" resultType="java.util.Map">
		select * from useraddress where username = #{username}
	</select>
	
	<!-- 我的物流 -->
	<select id="Mylogistics" resultType="java.util.Map">
		select * from createorder o,computermessage m,computer c 
		where o.username=#{username} and o.OMid = m.Mid and m.computerid = c.id
	</select>
</mapper>